tbody tr:hover {
    background-color: #f5e8e8;
    border: 1px solid #dec3c3;
    border-radius: 10px;

}

.textPositionRight {
    text-align: right;
}

button {
    background: rgb(5, 39, 103);
    border-radius: 10px;
    color:white;
}

    button:hover {
        background: rgb(54, 85, 141);
        border-radius: 10px;
        color: white;
    }
